body {
    font-family: Arial;
    background: #f4f4f4;
    padding: 20px;
}

h2 {
    color: #333;
}

table {
    background: white;
    border-collapse: collapse;
}

input, select, button {
    padding: 8px;
}
